@font-face{
	font-family:"Yekan";
	src:
	  url('fonts/WebYekan.eot') format('eot'),
	  url('fonts/WebYekan.ttf') format('ttf'),
	  url('fonts/WebYekan.woff') format('woff');
  }

.headers {
	width: 100%;
}

body {
	position: relative;
	font-family: Yekan;
	}

	finput-grou{
		width: 150px;
	}

.affix {
      top: 0;
      width: 100%;
      z-index: 9999;
  }

  .card.home-carousel{
	height: auto;
	direction: rtl;
	text-align: right;
	outline: none;
}

.card-title{
	border-bottom: 1px solid #eee;
	margin-top: -16px;
}

.card.home-carousel .card-content{
	position: relative;
}

.back-arrow i , .forward-arrow i{
	position: absolute;
	color: #b9b9b9;
	top: 50%;
	margin-top: -25px;
	font-size: 27px;
	line-height: 38px;
	border-radius: 50px;
	z-index:3;
}

.ion-ios-arrow-back:before {
    content: "\F1EF";
}

.ion, .ion:before {
    display: inline-block;
    font-family: ion-gilar;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

*, :after, :before {
    box-sizing: border-box;
}

.slick-list, .slick-slider{
	position: relative;
	display: block;
}

.slick-slider{
	box-sizing:border-box;
	touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-carousel .slick-initialized .slick-slider{
  	width: 100%
}

.slick-track{
  	opacity:1;
  	width: 2240 px;
  	transform:translate3d(0px,0px,0px);
}

.slick-slider .slick-list, .slick-slider .slick-track {
    transform: translateZ(0);
}

element.style{
	opacity: 1;
	width: 5364px;
	transform: translate3d(0px,0px,0px);
}

.navbar-inverse{
	background-color: #f1f1f1;
}

.logo-box{
	text-align:left;
	padding-bottom: 25px;
}

ul.top-links{
line-height: 42px;
margin-bottom: 15px;
}
ul.top-links li {
padding: 10px 0px 10px 15px;
list-style-type: none;
display: inline;
}

.form-style{
	width:431px;
	display: inline-block;
}
.input-group{
	width:auto;
}

.search-box{
	display: inline-block;
	padding-right:18px;
}

.shopping-cart-wrapper{  
	width:175px;  
  }
  .btn-icon , .btn-cart{
	float:right;
	color: white;
	box-sizing: border-box;
	overflow:hidden;
	display:inline-block;
	height:35px;
  }
  .btn-icon{
	width:30%;
  }
  .btn-cart{
	width:70%;
	text-align:center;
  }
  .icon{
	padding:5px;
	text-align: center;
	background-color:#62b965;
	height:35px;
  }
  .cart-text{
	font-family: Yekan;
	font-size: 14px;
	padding:5px;
	text-align: center;
	display:inline-block;
	height:35px;
  }
  .shopping-cart-button{
	background-color:#4caf50;
	border: 1px solid #62b965;
	border-radius: 3px;
	width:100%;
	float:right;
	height:36px;
  
  }
  .shopping-cart-button:hover{
	 background-color:#48d16c;
  }
  .counter{
	border: 1px hidden green;
	border-radius:100%;
	width: 17%;
	height:21px;
	text-align: center;
	display:inline-block;
	background-color:#62b965;
	margin-top:7px;
  }