@font-face{
	font-family:"Yekan";
	src:
	  url('../fonts/WebYekan.eot') format('eot'),
	  url('../fonts/WebYekan.ttf') format('ttf'),
	  url('../fonts/WebYekan.woff') format('woff');
  }

.headers {
	width: 100%;

}

body {
	position: relative;
	font-family: Yekan;
	}

.navbar-inverse{
	background-color: #f1f1f1;
}

.logo-box{
	text-align:left;
	padding-bottom: 25px;
}
.logo-box img{
	margin-top:-39px;
}
.top-links{
	font-family: yekan;
	font-size: 12px;
	color:#7f848f;
	
}
a:link{
	font-family: yekan;
	font-size: 12px;
	color:#7f848f;
	text-decoration: none;
}

a:hover{
	color: red;
	text-decoration: none;
}

ul.top-links{
line-height: 42px;
margin-bottom: 15px;
}
ul.top-links li {
padding: 10px 10px 10px 35px;
list-style-type: none;
display: inline;
}
.glyphicon{
	line-height: 1px;
}
.form-style{
	width:431px;
	display: inline-block;
}
.input-group{
	width:auto;
}

.search-box{
	display: inline-block;
	padding-right:18px;
}

.shopping-cart-wrapper{  
	width:175px;  
  }
  .btn-icon , .btn-cart{
	float:right;
	color: white;
	box-sizing: border-box;
	overflow:hidden;
	display:inline-block;
	height:35px;
  }
  .btn-icon{
	width:30%;
  }
  .btn-cart{
	width:70%;
	text-align:center;
  }
  .icon{
	padding:5px;
	text-align: center;
	background-color:#62b965;
	height:35px;
  }
  .cart-text{
	font-family: Yekan;
	font-size: 14px;
	padding:5px;
	text-align: center;
	display:inline-block;
	height:35px;
  }
  .shopping-cart-button{
	background-color:#4caf50;
	border: 1px solid #62b965;
	border-radius: 3px;
	width:100%;
	float:right;
	height:36px;
  
  }
  .shopping-cart-button:hover{
	 background-color:#48d16c;
  }
  .counter{
	border: 1px hidden green;
	border-radius:100%;
	width: 17%;
	height:21px;
	text-align: center;
	display:inline-block;
	background-color:#62b965;
	margin-top:7px;
	}


	
	.promotion-badge{
		direction: rtl;
		display: inline-block;
		line-height: 50px;
	}

	/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.HeadCarousel{
	width: 810px;
	position: relative;

}
.carousel {
	margin-bottom: 60px;
	padding-bottom: 100px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  background-color:#bbb;
}
.carousel img {

}

.carousel-buttons {
  z-index: 1100;
  position: absolute;
  width: 100%;
  color:#fff;
	bottom:1px;
	background: black;
}
.carousel-buttons > div {
  padding:20px;
  border:1px solid #fff;
}
.carousel-buttons a {
  color:#fff;
  display:block;
  line-height:50px;
}


/* End of Customizing The Carousel */

/* promotion Carousel ============================= */

.sub{
	wieght: 300px;
	height: 120px;
	background: #48d16c;
}


/* End of promotion Carousel */



.panel-footer{
	display: block;
}










